<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
        <section class="production">
            <article class="welcome p-3">              
                    <h3 class="subtitle">Modificar</h3>      
                    <h1 class="title">Material</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <form action="/material" style="grid-area: f;" class="d-flex flex-column gap-2" id="formConsultar">
                    <label for="codigo-materia" class="subtitle">Código de Materia Prima:</label>
                    <select class="selectForm">
                        <option value="manometro">Manometro</option>
                        <option value="base">Base</option>
                        <option value="termómetro">Termómetro</option>
                    </select>

                    <label for="codigo-color" class="subtitle">Código de Color:</label>
                    <select class="selectForm">
                        <option value="manometro">Negro</option>
                        <option value="base">Rojo</option>
                        <option value="termómetro">Metalico</option>
                        <option value="termómetro">Sin color</option>
                    </select>

                    <label for="cantidad" class="subtitle">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad">

                    <label for="descripcion" class="subtitle">Descripción:</label>
                    <input type="text" id="descripcion" name="descripcion">

                <button class="btn btn-primary mt-1">Modificar</button>
            </form>

             <div class="d-flex align-items-center justify-content-between" style="grid-area: b;">
                    <a href="/material/register" class="btn btn-primary">
                        Registrar
                    </a>
                    <a href="/material/search" class="btn btn-primary">
                        Consultar
                    </a>
                    <a href="/material/modify" class="btn btn-primary">
                        Modificar
                    </a>
                    <a href="/material/status" class="btn btn-primary">
                        Inhabilitar/Habilitar
                    </a>
            </div>
        </section>    
        {{> footer}}
    </section>
</main>