<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
        <section class="production">
            <article class="welcome p-3">              
                    <h3 class="subtitle">Registrar</h3>      
                    <h1 class="title">Material</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <form action="/material" style="grid-area: f;">
                <div class="d-flex flex-column gap-2">
                    <label for="codigo-materia" class="subtitle">Código de Materia Prima:</label>
                    <select class="selectForm">
                        <option value="manometro">Manometro</option>
                        <option value="base">Base</option>
                        <option value="termómetro">Termómetro</option>
                    </select>

                    <label for="codigo-tipo" class="subtitle">Código de Tipo de Material:</label>
                    <select class="selectForm">
                        <option value="manometro">Plastico</option>
                        <option value="base">Metal</option>
                    </select>

                    <label for="codigo-color" class="subtitle">Código de Color:</label>
                    <select class="selectForm">
                        <option value="manometro">Negro</option>
                        <option value="base">Rojo</option>
                        <option value="termómetro">Metalico</option>
                        <option value="termómetro">Sin color</option>
                    </select>

                    <label for="cantidad" class="subtitle">Cantidad:</label>
                    <input type="text" id="cantidad" name="cantidad">

                    <label for="descripcion" class="subtitle">Descripción:</label>
                    <input type="text" id="descripcion" name="descripcion">


                    <button class="btn btn-primary">Registrar</button>
                </div>
            </form>    
        </section>    
        {{> footer}}
    </section>
</main>