<main class="mainHome">
  <a href="/" class="homeBrand">
    <i class="ri-edit-circle-line"></i>
    <span>TermoControl</span>
  </a>
  <section class="mainContent">
    <h1 class="title">Bienvenido a <span>TermoControl</span></h1>
    <h3 class="subtitle">TermoControl es un software de monitoreo de producci칩n
      de term칩metros dise침ado para el SENA. Con herramientas avanzadas,
      garantiza un control eficiente y de calidad en todo el proceso de
      producci칩n.</h3>
  </section>
  <a class="btnHome" href="/auth/login">Empezar</a>
  <section class="senaBg">
    <img class="i1" src="/images/logosena.svg" alt="Logo Sena CDTI" />
    <img class="i2" src="/images/logosena.svg" alt="Logo Sena CDTI" />
    <img class="i3" src="/images/logosena.svg" alt="Logo Sena CDTI" />
    <img class="i4" src="/images/logosena.svg" alt="Logo Sena CDTI" />
  </section>
</main>