<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
        <section class="layout">
            <article class="welcome p-3">              
                    <h1 class="title">Perfil</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <ul class="sec p-3" style="grid-area: f;">
                <li class="subtitle mb-2">Alejandro</li>
                <li class="subtitle mb-2">Escobar Carta</li>
                <li class="subtitle mb-2">3015869282</li>
                <li class="subtitle mb-2">Calle 14 Oeste #12-423</li>
                <li class="subtitle mb-2">devaleosw@gmail.com</li>
                <li class="subtitle mb-2">1102799613</li>
            </ul>
        </section>
        {{> footer}}
    </section>
</main>