<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
            <section class="layout">
                <article class="welcome p-3">              
                    <h1 class="title">Inventario</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <div style="grid-area: f;">
            <article class="sec p-3">
                <h3 class="title mb-3">Entradas de bodega recientes</h3>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">M002</h3>
                        <h3 class="subtitle">MP003</h3>
                        <h3 class="subtitle">20</h3>
                        <h3 class="subtitle">19/06/2023</h3>
                    </span>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">M001</h3>
                        <h3 class="subtitle">MP003</h3>
                        <h3 class="subtitle">20</h3>
                        <h3 class="subtitle">19/06/2023</h3>
                    </span>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">M003</h3>
                        <h3 class="subtitle">MP003</h3>
                        <h3 class="subtitle">20</h3>
                        <h3 class="subtitle">19/06/2023</h3>
                    </span>
            </article>
            <article class="sec p-3">
                <h3 class="title mb-3">Ordenes de pedido recientes</h3>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">TM001</h3>
                        <h3 class="subtitle">MP003</h3>
                        <h3 class="subtitle">10</h3>
                        <h3 class="subtitle">18/06/2023</h3>
                    </span>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">TM001</h3>
                        <h3 class="subtitle">MP002</h3>
                        <h3 class="subtitle">10</h3>
                        <h3 class="subtitle">18/06/2023</h3>
                    </span>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">TM002</h3>
                        <h3 class="subtitle">MP001</h3>
                        <h3 class="subtitle">10</h3>
                        <h3 class="subtitle">18/06/2023</h3>
                    </span>
            </article>
            <article class="sec p-3">
                <h3 class="title mb-3">Salidas de bodega</h3>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">TM001</h3>
                        <h3 class="subtitle">TMP003</h3>
                        <h3 class="subtitle">23</h3>
                        <h3 class="subtitle">19/06/2023</h3>
                    </span>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">TM003</h3>
                        <h3 class="subtitle">TMP001</h3>
                        <h3 class="subtitle">23</h3>
                        <h3 class="subtitle">18/06/2023</h3>
                    </span>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">TM003</h3>
                        <h3 class="subtitle">TMP001</h3>
                        <h3 class="subtitle">23</h3>
                        <h3 class="subtitle">17/06/2023</h3>
                    </span>
                </div>
            </article>
            </div>
            </section>
        {{> footer}}
        </section>
</main>