<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
        <section class="production">
            <article class="welcome p-3">              
                    <h3 class="subtitle">Modificar</h3>      
                    <h1 class="title">Inventario</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <form action="/inventary", style="grid-area: f;">
                <div class="d-flex flex-column gap-2">
                    <h3 class="title">Registrar entrada de bodega</h3>
                    <label for="" class="subtitle">Codigo de tipo de material.</label>
                    <input type="number" name="Codigo de tipo de material.">
                    <label for="" class="subtitle">Codigo tipo materia prima.</label>
                    <input type="number" name="Codigo tipo materia prima.">
                    <label for="" class="subtitle">Cantidad de materia prima.</label>
                    <input type="number" name="Cantidad de materia prima.">
                    <label for="" class="subtitle">Codigo tipo estado.</label>
                    <input type="number" name="Codigo tipo estado.">
                    <label for="" class="subtitle">Fecha</label>
                    <input type="date" name="Fecha"> 

                    <button class="btn btn-primary mb-5">Modificar</button>
                </div>
                <div class="d-flex flex-column gap-2">
                    <h3 class="title">Registrar orden de pedido</h3>
                    <label for="" class="subtitle">Codigo de tipo de material.</label>
                    <input type="number" name="Codigo de tipo de material.">
                    <label for="" class="subtitle">Codigo tipo materia prima.</label>
                    <input type="number" name="Codigo tipo materia prima.">
                    <label for="" class="subtitle">Cantidad de materia prima.</label>
                    <input type="number" name="Cantidad de materia prima.">
                    <label for="" class="subtitle">Fecha</label>
                    <input type="date" name="Fecha" id="">

                    <button class="btn btn-primary mb-5">Modificar</button>
                </div>
                <div class="d-flex flex-column gap-2">
                    <h3 class="title">Modificar salida de bodega</h3>
                    <label for="" class="subtitle">Codigo de tipo de material.</label>
                    <input type="number" name="Codigo de tipo de material.">
                    <label for="" class="subtitle">Codigo tipo materia prima.</label>
                    <input type="number" name="Codigo tipo materia prima.">
                    <label for="" class="subtitle">Cantidad de materia prima.</label>
                    <input type="number" name="Cantidad de materia prima.">
                    <label for="" class="subtitle">Fecha</label>
                    <input type="date" name="Fecha" id="">

                    <button class="btn btn-primary">Modificar</button>
                </div>
            </form>    
        </section>    
        {{> footer}}
    </section>
</main>