<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
        <section class="production">
            <article class="welcome p-3">              
                    <h3 class="subtitle">Consultar</h3>      
                    <h1 class="title">Entrada de bodega</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <form action="/inventary/warehouse-entrance" style="grid-area: f;" class="d-flex flex-column gap-2">
                    <label for="" class="subtitle">Codigo entrada de bodega</label>
                    <input type="number" name="codigoOrdenP">
                    <button class="btn btn-primary mt-1">Consultar</button>
            </form>

             <div class="d-flex align-items-center justify-content-between" style="grid-area: b;">
                    <a href="/inventary/warehouse-entrance/register" class="btn btn-primary">
                        Registrar
                    </a>
                    <a href="/inventary/warehouse-entrance/search" class="btn btn-primary">
                        Consultar
                    </a>
                    <a href="/inventary/warehouse-entrance/modify" class="btn btn-primary">
                        Modificar
                    </a>
                    <a href="/inventary/warehouse-entrance/status" class="btn btn-primary">
                        Inhabilitar/Habilitar
                    </a>
            </div>
        </section>    
        {{> footer}}
    </section>
</main>

<script src="/js/consultar.js"></script>