<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
            <section class="layout">
                <article class="welcome p-3">     
                    <h3 class="subtitle">Inventario</h3>         
                    <h1 class="title">Entrada de bodega</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <div style="grid-area: f;">
            <article class="sec p-3">
                <h3 class="title mb-3">Entradas de bodega recientes</h3>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">M002</h3>
                        <h3 class="subtitle">MP003</h3>
                        <h3 class="subtitle">20</h3>
                        <h3 class="subtitle">19/06/2023</h3>
                    </span>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">M001</h3>
                        <h3 class="subtitle">MP003</h3>
                        <h3 class="subtitle">20</h3>
                        <h3 class="subtitle">19/06/2023</h3>
                    </span>
                    <span class="d-flex align-items-center justify-content-between">
                        <h3 class="subtitle">M003</h3>
                        <h3 class="subtitle">MP003</h3>
                        <h3 class="subtitle">20</h3>
                        <h3 class="subtitle">19/06/2023</h3>
                    </span>
            </article>
            </div>
            </section>
            <div class="d-flex align-items-center justify-content-between" style="grid-area: b;">
                    <a href="/inventary/warehouse-entrance/register" class="btn btn-primary">
                        Registrar
                    </a>
                    <a href="/inventary/warehouse-entrance/search" class="btn btn-primary">
                        Consultar
                    </a>
                    <a href="/inventary/warehouse-entrance/modify" class="btn btn-primary">
                        Modificar
                    </a>
                    <a href="/inventary/warehouse-entrance/status" class="btn btn-primary">
                        Inhabilitar/Habilitar
                    </a>
            </div>
        {{> footer}}
        </section>
    
</main>