<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
        <section class="production">
            <article class="welcome p-3">              
                    <h3 class="subtitle">Inhabilitar/Habilitar</h3>      
                    <h1 class="title">Produccion</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <form action="/production" style="grid-area: f;" class="d-flex flex-column gap-2">
                    <label for="" class="subtitle">Codigo orden de produccion</label>
                    <input type="number" name="codigoOrdenP">
                <button class="btn btn-primary mt-1">Inhabilitar</button>
                <button class="btn btn-primary mt-1">Habilitar</button>
            </form>

             <div class="d-flex align-items-center justify-content-between" style="grid-area: b;">
                    <a href="/production/register" class="btn btn-primary">
                        Registrar
                    </a>
                    <a href="/production/search" class="btn btn-primary">
                        Consultar
                    </a>
                    <a href="/production/modify" class="btn btn-primary">
                        Modificar
                    </a>
                    <a href="/production/status" class="btn btn-primary">
                        Inhabilitar/Habilitar
                    </a>
            </div>
        </section>    
        {{> footer}}
    </section>
</main>

<script src="/js/consultar.js"></script>