<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
        <section class="production">
            <article class="welcome p-3">              
                    <h3 class="subtitle">Modificar</h3>      
                    <h1 class="title">Salida de bodega</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <form action="/inventary/warehouse-exit", style="grid-area: f;">
                <div class="d-flex flex-column gap-2">
                    <label for="" class="subtitle">Codigo de salida de bodega</label>
                    <input type="text" name="" id="">
                    <label for="" class="subtitle">Codigo de tipo de material.</label>
                    <select class="selectForm">
                        <option value="plastico">Plastico</option>
                        <option value="metalico">Metalico</option>
                    </select>
                    <label for="" class="subtitle">Codigo tipo materia prima.</label>
                    <select class="selectForm">
                        <option value="manometro">Manometro</option>
                        <option value="base">Base</option>
                        <option value="termómetro">Termómetro</option>
                    </select>
                    <label for="" class="subtitle">Cantidad de materia prima.</label>
                    <input type="number" name="Cantidad de materia prima."> 

                    <button class="btn btn-primary mb-5">Modificar</button>
                </div>

            </form>    
        </section>    
        <div class="d-flex align-items-center justify-content-between" style="grid-area: b;">
                    <a href="/inventary/warehouse-exit/register" class="btn btn-primary">
                        Registrar
                    </a>
                    <a href="/inventary/warehouse-exit/search" class="btn btn-primary">
                        Consultar
                    </a>
                    <a href="/inventary/warehouse-exit/modify" class="btn btn-primary">
                        Modificar
                    </a>
                    <a href="/inventary/warehouse-exit/status" class="btn btn-primary">
                        Inhabilitar/Habilitar
                    </a>
            </div>
        {{> footer}}
    </section>
</main>