<main class="mainProduction">
    {{> navigation}}
    <section class="appBody">
        <section class="production">
            <article class="welcome p-3">              
                    <h3 class="subtitle">Consultar</h3>      
                    <h1 class="title">Reporte</h1>
                    <img src="/images/logosena.svg" alt="Logo Sena CDTI" class="imgWelcome">
            </article>

            <form action="/reports" style="grid-area: f;" class="d-flex flex-column gap-2">
                <label for="codigo-materia" class="subtitle">Código de reporte:</label>
                <input type="text" id="codigo-materia" name="codigo-materia">

                <button class="btn btn-primary mt-1">Consultar</button>
            </form>
        </section>    
        {{> footer}}
    </section>
</main>

<script src="/js/consultar.js"></script>